/* styles.css */

/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('AR-DEV- 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-item {
  margin-left: 20px;
}
